@import url('https://fonts.cdnfonts.com/css/chava');
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Hoves";
 }

 section {
    padding: 0 calc(10.6vw - 16px);
    margin-bottom: calc(11vw + 18.4px);
 }

/* - metacal
border-containt - razmer o'zgaradi
border-box - razmer o'zgarmaydi
*/

.logo {
    padding-top: 38px;
    padding-bottom: calc(6.3vw + 4.3px);
}

.courseInfo {
    display: flex;
    gap: 30px 161px;
    flex-wrap: wrap;
    margin-bottom: calc(3.1vw + 36.3px);
}
.title {
    font-size: calc(0.55vw + 14px);
}

.value {
    font-size: calc(0.55vw + 14px);
    font-weight: 700;

}

h1 {
    font-size: 80px;
    font-family: "Chava";
    margin-bottom: 40px;
}
.section1_text {
    width: calc(66.6vw + 77.6px);
    font-size: calc(1vw + 14.2px);
    margin-bottom: 20px;
}
.cta {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

.cta button {
    padding: 20px 0;
    width: 328px;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid #6e3aba;
    font-weight: 500;
    border-radius: 12px;
}

.purple {
    background-color: #6e3aba;
    color: white;
}
.white {
    background-color: white;
    color: #6e3aba
}



/* section 3 */

.saleLebl {
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: calc(1.989vw + 26.541px);
    font-family: "TT Hoves";
    color: #FFFFFF;
    text-transform: uppercase;
    /* width: calc(38.232vw + 186.63px); */
}
.saleTime {
    width: 100%;
    background: #6E3ABA;
    padding-top: calc(4.4198vw + 23.425px);
}
.timeInfo {
    display: flex;
    padding-top: calc(4.088vw + 4.669px);
    padding-left: calc(15.469vw - 34.01px);
    padding-right: calc(18.122vw - 38.956px);
    gap: 0 calc(6.077vw + 7.21px);
    
}

.timeValue {
    font-weight: 400;
    font-size: calc(12.597vw + 12.76px);
    font-family: "Chava";
    color: #2F1D4E;

}
.timeTitle {
    font-weight: 500;
    font-size: calc(1.878vw + 2.96px);
    color: #2F1D4E;
    text-transform: uppercase;
}

.saleButton {
    margin-left: calc(53.149vw - 175.3px);
    margin-top: calc(3.978vw + 6.083px);
    margin-bottom: calc(5.193vw + 21.52px);
    padding: 20px auto;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    width: 328px;
    font-size: 18px;
    font-family: "TT Hoves";
    height: 61px;
    color: #6E3ABA;

}

.timeData {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* section 5 */

h2 {
    font-size: calc(2.65vw + 24px);
    text-transform: uppercase;
    font-weight: 500;
}